* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  height: 60px;
}

.logo {
  width: 70px;
}

.nav-items > ul {
  display: flex;
  padding: 0px 10px;
  font-size: 20px;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}

.res-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-card {
  width: 280px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  height: 300px;
  background-color: #f0f0f0;
}

.res-card:hover {
  border: 1px solid rgb(80, 79, 79);
  cursor: grab;
  background-color: #d7d4d4;
}

.res-logo {
  width: 100%;
  height: 200px;
}

.res-name {
  margin: 1px;
}

.footer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.res-copyright-container {
  display: flex;
  margin: 2px;
  padding: 2px;
  width: 50%;
}

.copyright-item {
  margin: 2px;
  padding: 2px;
}
.copyright-item-name {
  margin: 2px;
  padding-top: 8px;
}

.copyright-item > div {
  margin: 2px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shimmer-card {
  margin: 20px;
  width: 280px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 10px;
}
