* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  height: 60px;
}

.logo {
  width: 55px;
}

.nav-items > ul {
  display: flex;
  padding: 0px 10px;
  font-size: 21px;
  align-items: center;
}

.nav-items > ul > li {
  margin: 10px;
  padding: 5px;
  list-style-type: none;
  background-color: red;
}

.nav-item {
  border-radius: 3px;
  color: white;
}

.nav-item ul li :hover {
  background-color: #f0f0f0;
  color: red;
}

.res-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-card {
  background-color: #f0f0f0;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 279px;
  margin: 10px;
  height: 330px;
  padding: 14px;
}

.res-card:hover {
  border: 1px solid rgb(80, 79, 79);
  cursor: grab;
  background-color: #d7d4d4;
}

.res-logo {
  width: 100%;
  height: 200px;
}

.res-name {
  margin: 1px;
}

.footer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.res-copyright-container {
  display: flex;
  margin: 2px;
  padding: 2px;
  width: 50%;
}

.copyright-item {
  margin: 2px;
  padding: 2px;
}
.copyright-item-name {
  margin: 2px;
  padding-top: 8px;
}

.copyright-item > div {
  margin: 2px;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.shimmer-card {
  margin: 20px;
  width: 280px;
  height: 300px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.login-btn {
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.search {
  margin: 10px;
}

.input-box {
  padding: 0px 10px;
  margin: 0 10px;
}

.search-btn {
  width: 150px;
  cursor: pointer;
}

.reset-btn {
  width: 100px;
  margin: 0 10px;
  cursor: pointer;
}

.err-container {
  max-width: fit-content;
  margin: auto;
  margin-top: 100px;
}

.resMenuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.resDetailsContainer {
  margin: 10px;
}

.menuItems {
  list-style-type: none;
}

.menuItems > li {
  margin: 5px;
}

.menuitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 2px solid #d7d4d4;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.menuitem:hover {
  background-color: #e9e7e7;
}

.menuItemImg {
  width: 100px;
}
